@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #2E3047;
}

.body_wrapper{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.wrapper_link{
    color: white;
    text-decoration: none;
    font-size: 48px;
}.wrapper_link:hover{ color: orange; }

.images_imageText{
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 52px;
}

.images_imageText-green{
    padding-left: 0.3em;
    color: #3BBA9C;
}